<h2 style="text-align: center ">Flickr Image</h2>
<div class="wrapper">
  <div class="image-grid">
    <div class="image-item" *ngFor="let image of images | paginate: { itemsPerPage: 27, currentPage: p }">
      <a  routerLink="/details/{{image.id}}">
        <img src={{image.imageUrl}}  alt={{image.title}}/>
      </a>
      <app-rating [rating]="image.rating"></app-rating>
    </div>
  </div>
  <pagination-controls style="width: 450px; margin: 0 auto" (pageChange)="p = $event"></pagination-controls>

</div>
