.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
}

.image-item {
  width: 200px;
  height: 200px;
  margin:10px;
  transition: transform 0.5s ease;
}

.image-item:hover {
  transform: scale(1.1);
}
